<div class="container">
    <div>
    <h2>Modifier un Medecin :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Medecin</label>
    <input readonly type="text" [(ngModel)]="currentMedecin.idMedecin"
    name="idMedecin" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Medecin</label>
    <input type="text"[(ngModel)]= "currentMedecin.nomMedecin"
    name="nomMedecin" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >salaire Medecin</label>
    <input type="number" [(ngModel)]= "currentMedecin.salaireMedecin"
    name="salaireMedecin" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date Contrat</label>
        <input type="date" [ngModel]="currentMedecin.dateContrat | date: 'yyyy-MM-dd'"(ngModelChange)=" currentMedecin.dateContrat= $event" name="dateContart"
         class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Hopital</label>
            <select class="form-control form-control-lg" id="idHop" name="idHop"[(ngModel)]="updateHopId">
            <option *ngFor="let hop of hopitales" [value]="hop.idHop" >
            {{hop.nomHop}}
            </option>
            </select>
            </div>
        <div class="mt-2">
        <button type="submit" (click)="updateMedecin()" class="btn btn-success">Modifer</button>
        </div>
        </form>
        </div>
    
